<div id="top">
  <header>
    <h1>
      <img id="logo" src="/assets/oreore.jpg" alt="">
      たいとる
    </h1>
  </header>

  <main>
    <article>
      <ul>
        <li>
          <a href="/animals">
            <img class="icon" src="/assets/oreore.jpg" alt="">
            Animals
          </a>
        </li>

        <li>
          <a href="/profile">
            <img class="icon" src="/assets/oreore.jpg" alt="">
            プロフィール
          </a>
        </li>

        <li>
          <a href="/blogs">
            <img class="icon" src="/assets/oreore.jpg" alt="">
            日記です
          </a>
        </li>
      </ul>
    </article>
  </main>

  <footer>
    <small>
      &copy; 2020 sota
    </small>
  </footer>
</div>