// Place all the styles related to the animals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

a#animal_new {
  color: deepskyblue;
  transform:rotate(5deg);
}

#animal_title {
  color: #00b01f;
  font-size: 50px;
  transform:rotate(5deg);
}

#animal_table {
  th {
    color: greenyellow;
    transform:rotate(-5deg);
  }
  tbody {
    color: darkorange;
  }
  a {
    color: purple;
  }
}
